
  /* box მოდელი არის ყუთი რომელიც აკრავს ყოველ html elements */
  /*  height ცვლის contentis სიმაღლის პარამეტრს */
  /* width ცვლის contentis სიგანის პარამეტრს */
  /* border აკრავცს პადდინგს და კონტენტს */
  /* padding კონტენტის გარშემო ქმნის ადგილს*/
  /* margin ქმნის ადგილს ბორდერის გარეთ*/


#first {
    height: 200px;
    width: 400px;
    border: 15px solid lime;
    padding: 50px;
    margin: 20px;
  }

/* ნამდვილი სიგანე=
კონტენტი=400px
მარჯვენა და მარცხენა პადინგი 50px+50px=100px
მარჯვენა და მარცხენა ბორდერი 15px+15px=30px
ჯამში=530px  */

/* ნამდვილი სიმაღლე=
კონტენტის სიმაღლე=200px
ზევითა და ქვევითა პადინგი 50px+50px=100px
ზევითა და ქვევითა ბორდერი 15px+15px=30px
ჯამში სიმაღლე=330px */





#second {
    height: 100px;
    width: 300px;
    border: 10px solid blue;
    padding: 25px;
    margin: 10px;
}

/* ნამდვილი სიგანე=
კონტენტი=300px
მარჯვენა და მარცხენა პადინგი 25px+25px=50px
მარჯვენა და მარცხენა ბორდერი 10px+10px=20px
ჯამში=370px  */


/* ნამდვილი სიმაღლე=
კონტენტის სიმაღლე=100px
ზევითა და ქვევითა პადინგი 25px+25px=50px
ზევითა და ქვევითა ბორდერი 10px+10px=20px
ჯამში სიმაღლე=170px */

