input,button {
    border:1px solid gray; /* საზღვრის მოდიფიკაცია-ზომა,ტიპი,ფერი */
    border-radius: 4px;  /* საზღვრის რადიუსის შეცვლა-მომრგვალება ან პირიქით */
}

input:focus {
    outline: none; /* როდესაც შევეხებით ინფუტს გარედან შემოკრული ხაზი გაქრება */

}

input:hover {
    color: green;  /* როდესაც მაუსს გადავატარებთ ინფუთს მასში არსებული ტექსტი ფერს შეიცვლის */
}



button:hover {
    color: greenyellow;  /*როდესაც მაუსს გადავატარებთ ღილაკს მასში არსებული ტექსტი ფერს შეიცვლის */
    background-color: gray;  /*როდესაც მაუსს გადავატარებთ ღილაკს უკანა ფერი ფერს შეიცვლის */
}


button {
    background-color: transparent; /*როდესაც მაუსს გადავატარებთ ღილაკს უკანა ფერი ფერს შეიცვლის */
}

