body{
    margin: 0;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width:500px;
    height:500px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:50px;
    height:50px;
    position: absolute;
    background:black;
    transition: all 0.5s ease;
}

.square{
    width:100px;
    height:100px;
    background:red;

    position: relative;
    right:-100px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.square:hover{
    transform: scale(1.2);
}